<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- Parametros de configuracion en http://msdn.microsoft.com/en-us/library/ms731299.aspx -->
        <binding name="bnd_GranTamano" openTimeout="00:00:30" closeTimeout="00:00:30" sendTimeout="00:00:45" 
                 receiveTimeout="00:00:45" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" 
                        maxStringContentLength="8192"/>-->
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" 
                        maxNameTableCharCount="16384" maxStringContentLength="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="bhv_PorDefecto" name="Zuliaworks.Netzuela.Paris.ServidorValeria.Servidor">
        <endpoint name="ep_PorDefecto" address="" binding="wsHttpBinding" bindingConfiguration="bnd_GranTamano" 
                  contract="Zuliaworks.Netzuela.Paris.ServidorValeria.IValeria">          
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="bhv_PorDefecto">
          <!-- 
          Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo 
          superior de los metadatos antes de la implementación 
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 
          Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca 
          el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de 
          la implementación 
          -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--An integer that specifies the maximum number of items to serialize or deserialize. This attribute is 65536.-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <bufferedReceive maxPendingMessagesPerChannel="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
