*.*~
*.pyc
*.DS_Store

bin/env/

src/.project
src/.pydevproject
src/.settings/
src/pyramid.pdf

src/build/
src/dist/
src/paris.egg-info/
src/*.pyc

src/paris/estatico/js/flot/examples/
src/paris/estatico/js/flot/*.txt
src/paris/estatico/js/flot/Makefile
