html 
{ 
height: 100%; 
}
body 
{ 
height: 100%; 
padding-top: 60px; 
}
.titular-noticia
{
}
.popover-inner-actor-activo
{
display: none;
}
.popover-inner-actor-pasivo
{
display: none;
}
.popover-aqui
{
}
