html 
{ 
	height: 100%; 
}
body 
{ 
	height: 100%;
	padding-top: 60px;
}
.titular-noticia
{
}
a.popover-aqui
{
}
div.popover-contenido
{
	display: none;
}
div.editable
{
	position: relative;
}
div.boton-editar-contenido
{
	display: none;
	position: absolute; 
	right: 0; 
	bottom: 0;
}
