/* icons */
[class^="cus-"],
[class*=" cus-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/estatico/img/glyphicons-free.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}

.cus-glass{ background-position: 0 0; width: 24px; height: 24px; } 
.cus-leaf{ background-position: -29px 0; width: 24px; height: 25px; } 
.cus-dog{ background-position: -58px 0; width: 26px; height: 25px; } 
.cus-user{ background-position: -89px 0; width: 23px; height: 22px; } 
.cus-girl{ background-position: -117px 0; width: 22px; height: 22px; } 
.cus-car{ background-position: -144px 0; width: 26px; height: 22px; } 
.cus-user-add{ background-position: -175px 0; width: 28px; height: 22px; } 
.cus-user-remove{ background-position: -208px 0; width: 26px; height: 22px; } 
.cus-film{ background-position: -239px 0; width: 22px; height: 26px; } 
.cus-magic{ background-position: -266px 0; width: 24px; height: 24px; } 
.cus-envelope{ background-position: -295px 0; width: 24px; height: 16px; } 
.cus-camera{ background-position: -324px 0; width: 26px; height: 20px; } 
.cus-heart{ background-position: -355px 0; width: 24px; height: 22px; } 
.cus-beach-umbrella{ background-position: -384px 0; width: 24px; height: 24px; } 
.cus-train{ background-position: -413px 0; width: 20px; height: 26px; } 
.cus-print{ background-position: -438px 0; width: 24px; height: 24px; } 
.cus-bin{ background-position: -467px 0; width: 20px; height: 28px; } 
.cus-music{ background-position: -492px 0; width: 21px; height: 25px; } 
.cus-note{ background-position: -518px 0; width: 18px; height: 25px; } 
.cus-heart-empty{ background-position: -541px 0; width: 24px; height: 22px; } 
.cus-home{ background-position: -570px 0; width: 27px; height: 26px; } 
.cus-snowflake{ background-position: -602px 0; width: 28px; height: 28px; } 
.cus-fire{ background-position: -635px 0; width: 21px; height: 26px; } 
.cus-magnet{ background-position: -661px 0; width: 21px; height: 23px; } 
.cus-parents{ background-position: -687px 0; width: 32px; height: 22px; } 
.cus-binoculars{ background-position: -724px 0; width: 24px; height: 24px; } 
.cus-road{ background-position: -753px 0; width: 28px; height: 24px; } 
.cus-search{ background-position: -786px 0; width: 24px; height: 24px; } 
.cus-cars{ background-position: -815px 0; width: 36px; height: 25px; } 
.cus-notes-2{ background-position: -856px 0; width: 20px; height: 27px; } 
.cus-pencil{ background-position: -881px 0; width: 24px; height: 24px; } 
.cus-bus{ background-position: -910px 0; width: 32px; height: 25px; } 
.cus-wifi-alt{ background-position: -947px 0; width: 26px; height: 26px; } 
.cus-luggage{ background-position: -978px 0; width: 20px; height: 27px; } 
.cus-old-man{ background-position: -1003px 0; width: 23px; height: 24px; } 
.cus-woman{ background-position: -1031px 0; width: 22px; height: 22px; } 
.cus-file{ background-position: -1058px 0; width: 19px; height: 24px; } 
.cus-coins{ background-position: -1082px 0; width: 26px; height: 24px; } 
.cus-airplane{ background-position: -1113px 0; width: 24px; height: 25px; } 
.cus-notes{ background-position: -1142px 0; width: 20px; height: 25px; } 
.cus-stats{ background-position: -1167px 0; width: 26px; height: 25px; } 
.cus-charts{ background-position: -1198px 0; width: 27px; height: 24px; } 
.cus-pie-chart{ background-position: -1230px 0; width: 26px; height: 25px; } 
.cus-group{ background-position: -1261px 0; width: 35px; height: 22px; } 
.cus-keys{ background-position: -1301px 0; width: 24px; height: 26px; } 
.cus-calendar{ background-position: -1330px 0; width: 23px; height: 24px; } 
.cus-router{ background-position: -1358px 0; width: 27px; height: 26px; } 
.cus-camera-small{ background-position: -1390px 0; width: 22px; height: 24px; } 
.cus-dislikes{ background-position: -1417px 0; width: 25px; height: 24px; } 
.cus-star{ background-position: -1447px 0; width: 25px; height: 24px; } 
.cus-link{ background-position: -1477px 0; width: 21px; height: 23px; } 
.cus-eye-open{ background-position: -1503px 0; width: 31px; height: 17px; } 
.cus-eye-close{ background-position: -1539px 0; width: 31px; height: 24px; } 
.cus-alarm{ background-position: -1575px 0; width: 27px; height: 25px; } 
.cus-clock{ background-position: -1607px 0; width: 24px; height: 24px; } 
.cus-stopwatch{ background-position: -1636px 0; width: 23px; height: 27px; } 
.cus-projector{ background-position: -1664px 0; width: 28px; height: 25px; } 
.cus-history{ background-position: -1697px 0; width: 25px; height: 26px; } 
.cus-truck{ background-position: -1727px 0; width: 32px; height: 27px; } 
.cus-cargo{ background-position: -1764px 0; width: 25px; height: 26px; } 
.cus-compass{ background-position: -1794px 0; width: 24px; height: 24px; } 
.cus-keynote{ background-position: -1823px 0; width: 20px; height: 30px; } 
.cus-paperclip{ background-position: -1848px 0; width: 26px; height: 24px; } 
.cus-power{ background-position: -1879px 0; width: 22px; height: 24px; } 
.cus-lightbulb{ background-position: -1906px 0; width: 20px; height: 26px; } 
.cus-tag{ background-position: -1931px 0; width: 24px; height: 24px; } 
.cus-tags{ background-position: -1960px 0; width: 30px; height: 24px; } 
.cus-cleaning{ background-position: 0 -35px; width: 24px; height: 25px; } 
.cus-ruller{ background-position: -29px -35px; width: 27px; height: 14px; } 
.cus-gift{ background-position: -61px -35px; width: 24px; height: 25px; } 
.cus-umbrella{ background-position: -90px -35px; width: 26px; height: 28px; } 
.cus-book{ background-position: -121px -35px; width: 22px; height: 24px; } 
.cus-bookmark{ background-position: -148px -35px; width: 15px; height: 24px; } 
.cus-wifi{ background-position: -168px -35px; width: 31px; height: 23px; } 
.cus-cup{ background-position: -204px -35px; width: 22px; height: 24px; } 
.cus-stroller{ background-position: -231px -35px; width: 25px; height: 26px; } 
.cus-headphones{ background-position: -261px -35px; width: 24px; height: 24px; } 
.cus-headset{ background-position: -290px -35px; width: 24px; height: 28px; } 
.cus-warning-sign{ background-position: -319px -35px; width: 29px; height: 24px; } 
.cus-signal{ background-position: -353px -35px; width: 24px; height: 24px; } 
.cus-retweet{ background-position: -382px -35px; width: 28px; height: 15px; } 
.cus-refresh{ background-position: -415px -35px; width: 25px; height: 26px; } 
.cus-roundabout{ background-position: -445px -35px; width: 26px; height: 26px; } 
.cus-random{ background-position: -476px -35px; width: 28px; height: 20px; } 
.cus-heat{ background-position: -509px -35px; width: 29px; height: 25px; } 
.cus-repeat{ background-position: -543px -35px; width: 23px; height: 26px; } 
.cus-display{ background-position: -571px -35px; width: 28px; height: 24px; } 
.cus-log-book{ background-position: -604px -35px; width: 22px; height: 24px; } 
.cus-adress-book{ background-position: -631px -35px; width: 22px; height: 24px; } 
.cus-building{ background-position: -658px -35px; width: 24px; height: 26px; } 
.cus-eyedropper{ background-position: -687px -35px; width: 24px; height: 24px; } 
.cus-adjust{ background-position: -716px -35px; width: 26px; height: 26px; } 
.cus-tint{ background-position: -747px -35px; width: 24px; height: 25px; } 
.cus-crop{ background-position: -776px -35px; width: 26px; height: 26px; } 
.cus-vector-path-square{ background-position: -807px -35px; width: 24px; height: 24px; } 
.cus-vector-path-circle{ background-position: -836px -35px; width: 24px; height: 24px; } 
.cus-vector-path-polygon{ background-position: -865px -35px; width: 26px; height: 25px; } 
.cus-vector-path-line{ background-position: -896px -35px; width: 24px; height: 24px; } 
.cus-vector-path-curve{ background-position: -925px -35px; width: 24px; height: 24px; } 
.cus-vector-path-all{ background-position: -954px -35px; width: 24px; height: 24px; } 
.cus-font{ background-position: -983px -35px; width: 27px; height: 23px; } 
.cus-italic{ background-position: -1015px -35px; width: 14px; height: 24px; } 
.cus-bold{ background-position: -1034px -35px; width: 19px; height: 24px; } 
.cus-text-underline{ background-position: -1058px -35px; width: 20px; height: 24px; } 
.cus-text-strike{ background-position: -1083px -35px; width: 20px; height: 22px; } 
.cus-text-height{ background-position: -1108px -35px; width: 26px; height: 24px; } 
.cus-text-width{ background-position: -1139px -35px; width: 22px; height: 24px; } 
.cus-text-resize{ background-position: -1166px -35px; width: 26px; height: 26px; } 
.cus-left-indent{ background-position: -1197px -35px; width: 24px; height: 22px; } 
.cus-right-indent{ background-position: -1226px -35px; width: 24px; height: 22px; } 
.cus-align-left{ background-position: -1255px -35px; width: 24px; height: 21px; } 
.cus-align-center{ background-position: -1284px -35px; width: 24px; height: 21px; } 
.cus-align-right{ background-position: -1313px -35px; width: 24px; height: 21px; } 
.cus-justify{ background-position: -1342px -35px; width: 24px; height: 21px; } 
.cus-list{ background-position: -1371px -35px; width: 24px; height: 21px; } 
.cus-text-smaller{ background-position: -1400px -35px; width: 22px; height: 16px; } 
.cus-text-bigger{ background-position: -1427px -35px; width: 24px; height: 22px; } 
.cus-embed{ background-position: -1456px -35px; width: 30px; height: 14px; } 
.cus-embed-close{ background-position: -1491px -35px; width: 30px; height: 24px; } 
.cus-table{ background-position: -1526px -35px; width: 24px; height: 24px; } 
.cus-message-full{ background-position: -1555px -35px; width: 24px; height: 28px; } 
.cus-message-empty{ background-position: -1584px -35px; width: 24px; height: 28px; } 
.cus-message-in{ background-position: -1613px -35px; width: 24px; height: 28px; } 
.cus-message-out{ background-position: -1642px -35px; width: 24px; height: 28px; } 
.cus-message-plus{ background-position: -1671px -35px; width: 29px; height: 23px; } 
.cus-message-minus{ background-position: -1705px -35px; width: 29px; height: 23px; } 
.cus-message-ban{ background-position: -1739px -35px; width: 29px; height: 23px; } 
.cus-message-flag{ background-position: -1773px -35px; width: 27px; height: 23px; } 
.cus-message-lock{ background-position: -1805px -35px; width: 28px; height: 24px; } 
.cus-message-new{ background-position: -1838px -35px; width: 28px; height: 22px; } 
.cus-inbox{ background-position: -1871px -35px; width: 24px; height: 23px; } 
.cus-inbox-plus{ background-position: -1900px -35px; width: 27px; height: 27px; } 
.cus-inbox-minus{ background-position: -1932px -35px; width: 27px; height: 27px; } 
.cus-inbox-lock{ background-position: -1964px -35px; width: 26px; height: 28px; } 
.cus-inbox-in{ background-position: 0 -70px; width: 24px; height: 26px; } 
.cus-inbox-out{ background-position: -29px -70px; width: 24px; height: 26px; } 
.cus-cogwheel{ background-position: -58px -70px; width: 24px; height: 24px; } 
.cus-cogwheels{ background-position: -87px -70px; width: 34px; height: 27px; } 
.cus-picture{ background-position: -126px -70px; width: 24px; height: 20px; } 
.cus-adjust-alt{ background-position: -155px -70px; width: 23px; height: 24px; } 
.cus-database-lock{ background-position: -183px -70px; width: 26px; height: 28px; } 
.cus-database-plus{ background-position: -214px -70px; width: 27px; height: 27px; } 
.cus-database-minus{ background-position: -246px -70px; width: 27px; height: 27px; } 
.cus-database-ban{ background-position: -278px -70px; width: 26px; height: 27px; } 
.cus-folder-open{ background-position: -309px -70px; width: 30px; height: 22px; } 
.cus-folder-plus{ background-position: -344px -70px; width: 29px; height: 25px; } 
.cus-folder-minus{ background-position: -378px -70px; width: 29px; height: 25px; } 
.cus-folder-lock{ background-position: -412px -70px; width: 28px; height: 26px; } 
.cus-folder-flag{ background-position: -445px -70px; width: 27px; height: 25px; } 
.cus-folder-new{ background-position: -477px -70px; width: 28px; height: 24px; } 
.cus-edit{ background-position: -510px -70px; width: 24px; height: 21px; } 
.cus-new-window{ background-position: -539px -70px; width: 26px; height: 22px; } 
.cus-check{ background-position: -570px -70px; width: 22px; height: 18px; } 
.cus-unchecked{ background-position: -597px -70px; width: 18px; height: 18px; } 
.cus-more-windows{ background-position: -620px -70px; width: 23px; height: 23px; } 
.cus-show-big-thumbnails{ background-position: -648px -70px; width: 22px; height: 22px; } 
.cus-show-thumbnails{ background-position: -675px -70px; width: 22px; height: 22px; } 
.cus-show-thumbnails-with-lines{ background-position: -702px -70px; width: 24px; height: 15px; } 
.cus-show-lines{ background-position: -731px -70px; width: 24px; height: 15px; } 
.cus-playlist{ background-position: -760px -70px; width: 29px; height: 24px; } 
.cus-imac{ background-position: -794px -70px; width: 26px; height: 22px; } 
.cus-macbook{ background-position: -825px -70px; width: 28px; height: 15px; } 
.cus-ipad{ background-position: -858px -70px; width: 22px; height: 27px; } 
.cus-iphone{ background-position: -885px -70px; width: 14px; height: 24px; } 
.cus-iphone-transfer{ background-position: -904px -70px; width: 29px; height: 24px; } 
.cus-iphone-exchange{ background-position: -938px -70px; width: 29px; height: 24px; } 
.cus-ipod{ background-position: -972px -70px; width: 14px; height: 22px; } 
.cus-ipod-shuffle{ background-position: -991px -70px; width: 15px; height: 13px; } 
.cus-ear-plugs{ background-position: -1011px -70px; width: 20px; height: 24px; } 
.cus-phone{ background-position: -1036px -70px; width: 15px; height: 25px; } 
.cus-step-backward{ background-position: -1056px -70px; width: 14px; height: 18px; } 
.cus-fast-backward{ background-position: -1075px -70px; width: 25px; height: 18px; } 
.cus-rewind{ background-position: -1105px -70px; width: 23px; height: 18px; } 
.cus-play{ background-position: -1133px -70px; width: 16px; height: 18px; } 
.cus-pause{ background-position: -1154px -70px; width: 10px; height: 16px; } 
.cus-stop{ background-position: -1169px -70px; width: 14px; height: 14px; } 
.cus-forward{ background-position: -1188px -70px; width: 23px; height: 18px; } 
.cus-fast-forward{ background-position: -1216px -70px; width: 25px; height: 18px; } 
.cus-step-forward{ background-position: -1246px -70px; width: 14px; height: 18px; } 
.cus-eject{ background-position: -1265px -70px; width: 18px; height: 17px; } 
.cus-facetime-video{ background-position: -1288px -70px; width: 24px; height: 16px; } 
.cus-download-alt{ background-position: -1317px -70px; width: 24px; height: 24px; } 
.cus-mute{ background-position: -1346px -70px; width: 22px; height: 15px; } 
.cus-volume-down{ background-position: -1373px -70px; width: 16px; height: 15px; } 
.cus-volume-up{ background-position: -1394px -70px; width: 24px; height: 26px; } 
.cus-screenshot{ background-position: -1423px -70px; width: 27px; height: 27px; } 
.cus-move{ background-position: -1455px -70px; width: 24px; height: 24px; } 
.cus-more{ background-position: -1484px -70px; width: 22px; height: 6px; } 
.cus-brightness-reduce{ background-position: -1511px -70px; width: 20px; height: 20px; } 
.cus-brightness-increase{ background-position: -1536px -70px; width: 24px; height: 24px; } 
.cus-circle-plus{ background-position: -1565px -70px; width: 26px; height: 26px; } 
.cus-circle-minus{ background-position: -1596px -70px; width: 26px; height: 26px; } 
.cus-circle-remove{ background-position: -1627px -70px; width: 26px; height: 26px; } 
.cus-circle-ok{ background-position: -1658px -70px; width: 26px; height: 26px; } 
.cus-circle-question-mark{ background-position: -1689px -70px; width: 26px; height: 26px; } 
.cus-circle-info{ background-position: -1720px -70px; width: 26px; height: 26px; } 
.cus-circle-exclamation-mark{ background-position: -1751px -70px; width: 26px; height: 26px; } 
.cus-remove{ background-position: -1782px -70px; width: 26px; height: 26px; } 
.cus-ok{ background-position: -1813px -70px; width: 26px; height: 26px; } 
.cus-ban{ background-position: -1844px -70px; width: 26px; height: 26px; } 
.cus-download{ background-position: -1875px -70px; width: 26px; height: 26px; } 
.cus-upload{ background-position: -1906px -70px; width: 26px; height: 26px; } 
.cus-shopping-cart{ background-position: -1937px -70px; width: 26px; height: 23px; } 
.cus-lock{ background-position: -1968px -70px; width: 21px; height: 26px; } 
.cus-unlock{ background-position: -1994px -70px; width: 21px; height: 26px; } 
.cus-electricity{ background-position: 0 -105px; width: 11px; height: 24px; } 
.cus-ok-2{ background-position: -16px -105px; width: 25px; height: 19px; } 
.cus-remove-2{ background-position: -46px -105px; width: 18px; height: 18px; } 
.cus-cart-out{ background-position: -69px -105px; width: 26px; height: 25px; } 
.cus-cart-in{ background-position: -100px -105px; width: 26px; height: 24px; } 
.cus-left-arrow{ background-position: -131px -105px; width: 20px; height: 18px; } 
.cus-right-arrow{ background-position: -156px -105px; width: 20px; height: 18px; } 
.cus-down-arrow{ background-position: -181px -105px; width: 18px; height: 20px; } 
.cus-up-arrow{ background-position: -204px -105px; width: 18px; height: 20px; } 
.cus-resize-small{ background-position: -227px -105px; width: 24px; height: 24px; } 
.cus-resize-full{ background-position: -256px -105px; width: 24px; height: 24px; } 
.cus-circle-arrow-left{ background-position: -285px -105px; width: 26px; height: 26px; } 
.cus-circle-arrow-right{ background-position: -316px -105px; width: 26px; height: 26px; } 
.cus-circle-arrow-top{ background-position: -347px -105px; width: 26px; height: 26px; } 
.cus-circle-arrow-down{ background-position: -378px -105px; width: 26px; height: 26px; } 
.cus-play-button{ background-position: -409px -105px; width: 26px; height: 26px; } 
.cus-unshare{ background-position: -440px -105px; width: 24px; height: 18px; } 
.cus-share{ background-position: -469px -105px; width: 24px; height: 18px; } 
.cus-chevron-right{ background-position: -498px -105px; width: 15px; height: 22px; } 
.cus-chevron-left{ background-position: -518px -105px; width: 15px; height: 22px; } 
.cus-bluetooth{ background-position: -538px -105px; width: 14px; height: 24px; } 
.cus-euro{ background-position: -557px -105px; width: 22px; height: 23px; } 
.cus-usd{ background-position: -584px -105px; width: 17px; height: 26px; } 
.cus-gbp{ background-position: -606px -105px; width: 17px; height: 24px; } 
.cus-retweet-2{ background-position: -628px -105px; width: 33px; height: 21px; } 
.cus-moon{ background-position: -666px -105px; width: 21px; height: 24px; } 
.cus-sun{ background-position: -692px -105px; width: 24px; height: 24px; } 
.cus-cloud{ background-position: -721px -105px; width: 27px; height: 17px; } 
.cus-direction{ background-position: -753px -105px; width: 25px; height: 26px; } 
.cus-brush{ background-position: -783px -105px; width: 25px; height: 22px; } 
.cus-pen{ background-position: -813px -105px; width: 23px; height: 23px; } 
.cus-zoom-in{ background-position: -841px -105px; width: 25px; height: 25px; } 
.cus-zoom-out{ background-position: -871px -105px; width: 25px; height: 25px; } 
.cus-pin{ background-position: -901px -105px; width: 10px; height: 24px; } 
.cus-albums{ background-position: -916px -105px; width: 28px; height: 18px; } 
.cus-rotation-lock{ background-position: -949px -105px; width: 27px; height: 24px; } 
.cus-flash{ background-position: -981px -105px; width: 14px; height: 24px; } 
.cus-google-maps{ background-position: -1000px -105px; width: 16px; height: 24px; } 
.cus-anchor{ background-position: -1021px -105px; width: 24px; height: 25px; } 
.cus-conversation{ background-position: -1050px -105px; width: 25px; height: 18px; } 
.cus-chat{ background-position: -1080px -105px; width: 24px; height: 19px; } 
.cus-male{ background-position: -1109px -105px; width: 22px; height: 22px; } 
.cus-female{ background-position: -1136px -105px; width: 16px; height: 27px; } 
.cus-asterisk{ background-position: -1157px -105px; width: 20px; height: 20px; } 
.cus-divide{ background-position: -1182px -105px; width: 18px; height: 16px; } 
.cus-snorkel-diving{ background-position: -1205px -105px; width: 27px; height: 25px; } 
.cus-scuba-diving{ background-position: -1237px -105px; width: 27px; height: 24px; } 
.cus-oxygen-bottle{ background-position: -1269px -105px; width: 22px; height: 27px; } 
.cus-fins{ background-position: -1296px -105px; width: 31px; height: 27px; } 
.cus-fishes{ background-position: -1332px -105px; width: 28px; height: 30px; } 
.cus-boat{ background-position: -1365px -105px; width: 24px; height: 24px; } 
.cus-delete{ background-position: -1394px -105px; width: 26px; height: 17px; } 
.cus-sheriffs-star{ background-position: -1425px -105px; width: 24px; height: 26px; } 
.cus-qrcode{ background-position: -1454px -105px; width: 24px; height: 24px; } 
.cus-barcode{ background-position: -1483px -105px; width: 24px; height: 24px; } 
.cus-pool{ background-position: -1512px -105px; width: 24px; height: 24px; } 
.cus-buoy{ background-position: -1541px -105px; width: 24px; height: 24px; } 
.cus-spade{ background-position: -1570px -105px; width: 24px; height: 24px; } 
.cus-bank{ background-position: -1599px -105px; width: 24px; height: 24px; } 
.cus-vcard{ background-position: -1628px -105px; width: 22px; height: 24px; } 
.cus-electrical-plug{ background-position: -1655px -105px; width: 18px; height: 25px; } 
.cus-flag{ background-position: -1678px -105px; width: 21px; height: 26px; } 
.cus-credit-card{ background-position: -1704px -105px; width: 26px; height: 19px; } 
.cus-keyboard-wireless{ background-position: -1735px -105px; width: 27px; height: 19px; } 
.cus-keyboard-wired{ background-position: -1767px -105px; width: 27px; height: 25px; } 
.cus-shield{ background-position: -1799px -105px; width: 22px; height: 24px; } 
.cus-ring{ background-position: -1826px -105px; width: 21px; height: 24px; } 
.cus-cake{ background-position: -1852px -105px; width: 22px; height: 24px; } 
.cus-drink{ background-position: -1879px -105px; width: 23px; height: 24px; } 
.cus-beer{ background-position: -1907px -105px; width: 23px; height: 24px; } 
.cus-fast-food{ background-position: -1935px -105px; width: 28px; height: 24px; } 
.cus-cutlery{ background-position: -1968px -105px; width: 13px; height: 24px; } 
.cus-pizza{ background-position: -1986px -105px; width: 26px; height: 29px; } 
.cus-birthday-cake{ background-position: 0 -140px; width: 26px; height: 29px; } 
.cus-tablet{ background-position: -31px -140px; width: 25px; height: 25px; } 
.cus-settings{ background-position: -61px -140px; width: 24px; height: 24px; } 
.cus-bullets{ background-position: -90px -140px; width: 27px; height: 23px; } 
.cus-cardio{ background-position: -122px -140px; width: 25px; height: 26px; } 
.cus-t-shirt{ background-position: -152px -140px; width: 28px; height: 23px; } 
.cus-pants{ background-position: -185px -140px; width: 19px; height: 24px; } 
.cus-sweater{ background-position: -209px -140px; width: 29px; height: 24px; } 
.cus-fabric{ background-position: -243px -140px; width: 27px; height: 22px; } 
.cus-leather{ background-position: -275px -140px; width: 23px; height: 24px; } 
.cus-scissors{ background-position: -303px -140px; width: 24px; height: 27px; } 
.cus-bomb{ background-position: -332px -140px; width: 27px; height: 25px; } 
.cus-skull{ background-position: -364px -140px; width: 22px; height: 24px; } 
.cus-celebration{ background-position: -391px -140px; width: 24px; height: 25px; } 
.cus-tea-kettle{ background-position: -420px -140px; width: 26px; height: 23px; } 
.cus-french-press{ background-position: -451px -140px; width: 23px; height: 25px; } 
.cus-coffe-cup{ background-position: -479px -140px; width: 25px; height: 19px; } 
.cus-pot{ background-position: -509px -140px; width: 27px; height: 22px; } 
.cus-grater{ background-position: -541px -140px; width: 18px; height: 24px; } 
.cus-kettle{ background-position: -564px -140px; width: 23px; height: 24px; } 
.cus-hospital{ background-position: -592px -140px; width: 24px; height: 24px; } 
.cus-hospital-h{ background-position: -621px -140px; width: 24px; height: 24px; } 
.cus-microphone{ background-position: -650px -140px; width: 17px; height: 24px; } 
.cus-webcam{ background-position: -672px -140px; width: 19px; height: 24px; } 
.cus-temple-christianity-church{ background-position: -696px -140px; width: 24px; height: 25px; } 
.cus-temple-islam{ background-position: -725px -140px; width: 25px; height: 24px; } 
.cus-temple-hindu{ background-position: -755px -140px; width: 24px; height: 24px; } 
.cus-temple-buddhist{ background-position: -784px -140px; width: 28px; height: 22px; } 
.cus-bicycle{ background-position: -817px -140px; width: 33px; height: 21px; } 
.cus-life-preserver{ background-position: -855px -140px; width: 24px; height: 24px; } 
.cus-share-alt{ background-position: -884px -140px; width: 22px; height: 22px; } 
.cus-comments{ background-position: -911px -140px; width: 24px; height: 23px; } 
.cus-flower{ background-position: -940px -140px; width: 19px; height: 25px; } 
.cus-baseball{ background-position: -964px -140px; width: 25px; height: 26px; } 
.cus-rugby{ background-position: -994px -140px; width: 23px; height: 24px; } 
.cus-ax{ background-position: -1022px -140px; width: 27px; height: 24px; } 
.cus-table-tennis{ background-position: -1054px -140px; width: 24px; height: 24px; } 
.cus-bowling{ background-position: -1083px -140px; width: 24px; height: 24px; } 
.cus-tree-conifer{ background-position: -1112px -140px; width: 21px; height: 24px; } 
.cus-tree-deciduous{ background-position: -1138px -140px; width: 20px; height: 25px; } 
.cus-more-items{ background-position: -1163px -140px; width: 21px; height: 24px; } 
.cus-sort{ background-position: -1189px -140px; width: 25px; height: 25px; } 
.cus-filter{ background-position: -1219px -140px; width: 20px; height: 24px; } 
.cus-gamepad{ background-position: -1244px -140px; width: 27px; height: 19px; } 
.cus-playing-dices{ background-position: -1276px -140px; width: 27px; height: 23px; } 
.cus-calculator{ background-position: -1308px -140px; width: 21px; height: 24px; } 
.cus-tie{ background-position: -1334px -140px; width: 11px; height: 26px; } 
.cus-wallet{ background-position: -1350px -140px; width: 25px; height: 20px; } 
.cus-piano{ background-position: -1380px -140px; width: 23px; height: 24px; } 
.cus-sampler{ background-position: -1408px -140px; width: 27px; height: 22px; } 
.cus-podium{ background-position: -1440px -140px; width: 28px; height: 21px; } 
.cus-soccer-ball{ background-position: -1473px -140px; width: 25px; height: 25px; } 
.cus-blog{ background-position: -1503px -140px; width: 21px; height: 23px; } 
.cus-dashboard{ background-position: -1529px -140px; width: 24px; height: 24px; } 
.cus-certificate{ background-position: -1558px -140px; width: 17px; height: 25px; } 
.cus-bell{ background-position: -1580px -140px; width: 24px; height: 24px; } 
.cus-candle{ background-position: -1609px -140px; width: 20px; height: 25px; } 
.cus-pushpin{ background-position: -1634px -140px; width: 23px; height: 23px; } 
.cus-iphone-shake{ background-position: -1662px -140px; width: 24px; height: 24px; } 
.cus-pin-flag{ background-position: -1691px -140px; width: 30px; height: 22px; } 
.cus-turtle{ background-position: -1726px -140px; width: 28px; height: 16px; } 
.cus-rabbit{ background-position: -1759px -140px; width: 26px; height: 22px; } 
.cus-globe{ background-position: -1790px -140px; width: 24px; height: 24px; } 
.cus-briefcase{ background-position: -1819px -140px; width: 24px; height: 21px; } 
.cus-hdd{ background-position: -1848px -140px; width: 24px; height: 21px; } 
.cus-thumbs-up{ background-position: -1877px -140px; width: 24px; height: 21px; } 
.cus-thumbs-down{ background-position: -1906px -140px; width: 24px; height: 21px; } 
.cus-hand-right{ background-position: -1935px -140px; width: 26px; height: 19px; } 
.cus-hand-left{ background-position: -1966px -140px; width: 26px; height: 19px; } 
.cus-hand-up{ background-position: 0 -175px; width: 19px; height: 26px; } 
.cus-hand-down{ background-position: -24px -175px; width: 19px; height: 27px; } 
.cus-fullscreen{ background-position: -48px -175px; width: 24px; height: 24px; } 
.cus-shopping-bag{ background-position: -77px -175px; width: 23px; height: 26px; } 
.cus-book-open{ background-position: -105px -175px; width: 24px; height: 22px; } 
.cus-nameplate{ background-position: -134px -175px; width: 24px; height: 21px; } 
.cus-nameplate-alt{ background-position: -163px -175px; width: 24px; height: 22px; } 
.cus-vases{ background-position: -192px -175px; width: 24px; height: 24px; } 
.cus-bullhorn{ background-position: -221px -175px; width: 25px; height: 20px; } 
.cus-dumbbell{ background-position: -251px -175px; width: 26px; height: 16px; } 
.cus-suitcase{ background-position: -282px -175px; width: 24px; height: 22px; } 
.cus-file-import{ background-position: -311px -175px; width: 22px; height: 24px; } 
.cus-file-export{ background-position: -338px -175px; width: 23px; height: 24px; } 
.cus-bug{ background-position: -366px -175px; width: 22px; height: 24px; } 
.cus-crown{ background-position: -393px -175px; width: 26px; height: 25px; } 
.cus-smoking{ background-position: -424px -175px; width: 28px; height: 28px; } 
.cus-cloud-upload{ background-position: -457px -175px; width: 27px; height: 20px; } 
.cus-cloud-download{ background-position: -489px -175px; width: 27px; height: 22px; } 
.cus-restart{ background-position: -521px -175px; width: 25px; height: 25px; } 
.cus-security-camera{ background-position: -551px -175px; width: 24px; height: 24px; } 
.cus-expand{ background-position: -580px -175px; width: 19px; height: 19px; } 
.cus-collapse{ background-position: -604px -175px; width: 19px; height: 19px; } 
.cus-collapse-top{ background-position: -628px -175px; width: 19px; height: 19px; } 
.cus-globe-af{ background-position: -652px -175px; width: 24px; height: 24px; } 
.cus-global{ background-position: -681px -175px; width: 24px; height: 24px; } 
.cus-spray{ background-position: -710px -175px; width: 22px; height: 27px; } 
.cus-nails{ background-position: -737px -175px; width: 22px; height: 26px; } 
.cus-claw-hammer{ background-position: -764px -175px; width: 27px; height: 26px; } 
.cus-classic-hammer{ background-position: -796px -175px; width: 25px; height: 26px; } 
.cus-hand-saw{ background-position: -826px -175px; width: 26px; height: 26px; } 
.cus-riflescope{ background-position: -857px -175px; width: 25px; height: 25px; } 
.cus-electrical-socket-eu{ background-position: -887px -175px; width: 23px; height: 23px; } 
.cus-electrical-socket-us{ background-position: -915px -175px; width: 23px; height: 23px; } 
.cus-pinterest{ background-position: -943px -175px; width: 24px; height: 24px; } 
.cus-dropbox{ background-position: -972px -175px; width: 24px; height: 24px; } 
.cus-google-plus{ background-position: -1001px -175px; width: 24px; height: 24px; } 
.cus-jolicloud{ background-position: -1030px -175px; width: 24px; height: 24px; } 
.cus-yahoo{ background-position: -1059px -175px; width: 24px; height: 24px; } 
.cus-blogger{ background-position: -1088px -175px; width: 24px; height: 24px; } 
.cus-picasa{ background-position: -1117px -175px; width: 24px; height: 24px; } 
.cus-amazon{ background-position: -1146px -175px; width: 24px; height: 24px; } 
.cus-tumblr{ background-position: -1175px -175px; width: 24px; height: 24px; } 
.cus-wordpress{ background-position: -1204px -175px; width: 24px; height: 24px; } 
.cus-instapaper{ background-position: -1233px -175px; width: 24px; height: 24px; } 
.cus-evernote{ background-position: -1262px -175px; width: 24px; height: 24px; } 
.cus-xing{ background-position: -1291px -175px; width: 24px; height: 24px; } 
.cus-zootool{ background-position: -1320px -175px; width: 24px; height: 24px; } 
.cus-dribbble{ background-position: -1349px -175px; width: 24px; height: 24px; } 
.cus-deviantart{ background-position: -1378px -175px; width: 24px; height: 24px; } 
.cus-read-it-later{ background-position: -1407px -175px; width: 24px; height: 24px; } 
.cus-linked-in{ background-position: -1436px -175px; width: 24px; height: 24px; } 
.cus-forrst{ background-position: -1465px -175px; width: 24px; height: 24px; } 
.cus-pinboard{ background-position: -1494px -175px; width: 24px; height: 24px; } 
.cus-behance{ background-position: -1523px -175px; width: 24px; height: 24px; } 
.cus-github{ background-position: -1552px -175px; width: 24px; height: 24px; } 
.cus-youtube{ background-position: -1581px -175px; width: 24px; height: 24px; } 
.cus-skitch{ background-position: -1610px -175px; width: 24px; height: 24px; } 
.cus-4square{ background-position: -1639px -175px; width: 24px; height: 24px; } 
.cus-quora{ background-position: -1668px -175px; width: 24px; height: 24px; } 
.cus-badoo{ background-position: -1697px -175px; width: 24px; height: 24px; } 
.cus-spotify{ background-position: -1726px -175px; width: 24px; height: 24px; } 
.cus-stumbleupon{ background-position: -1755px -175px; width: 24px; height: 24px; } 
.cus-readability{ background-position: -1784px -175px; width: 24px; height: 24px; } 
.cus-facebook{ background-position: -1813px -175px; width: 24px; height: 24px; } 
.cus-twitter{ background-position: -1842px -175px; width: 24px; height: 24px; } 
.cus-instagram{ background-position: -1871px -175px; width: 24px; height: 24px; } 
.cus-posterous-spaces{ background-position: -1900px -175px; width: 24px; height: 24px; } 
.cus-vimeo{ background-position: -1929px -175px; width: 24px; height: 24px; } 
.cus-flickr{ background-position: -1958px -175px; width: 24px; height: 24px; } 
.cus-last-fm{ background-position: -1987px -175px; width: 24px; height: 24px; } 
.cus-rss{ background-position: 0 -210px; width: 24px; height: 24px; } 
.cus-skype{ background-position: -29px -210px; width: 24px; height: 24px; } 
.cus-e-mail{ background-position: -58px -210px; width: 24px; height: 24px; } 
