html { 
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
    margin: 0;
    background: url('/estatico/img/background5.png');
    background-size: 1366px 854px;
    background-repeat: no-repeat;
    display: block;
}

.popover {
    width: auto;
    min-width: 236px;
}

.popover-aqui {}

.editable {
    position: relative;
}

.boton-editar-contenido {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav-tabs {
    background-color: white;
}

.boton-editar-breadcum {
    display: none;
}

form.centrado {
    display: block;
    float: none;
    margin: 0px auto;
}

.table {
    margin-bottom: 0px
}

.pitch h3 {
    text-align: center
}

.imagen-centrada {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.accordion-group {
    background-color: white;
    margin-bottom: 20px
}

.dropdown-menu {
    padding: 15px; 
    padding-bottom: 0px;
}

.well {
    padding: 8px 0;
}